[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
coverage = "*"
detox = "*"
flake8 = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
sphinx = "*"
tox = "*"
twine = "*"

[packages]
requests = "*"
